.logo {
  float: left;
  background: url(../img/logo.png) no-repeat;
  width: 198px;
  height: 50px;
  background-size: contain;
  background-position: center;
  vertical-align: middle;
  margin-top: 7px;
}
.task-list {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 30px;
  background: @blue-1;
  border-radius: 5px;
  padding: 2px 8px 8px;
  vertical-align: top;
  height: 100%;
}

.task-list:first-child {
  margin-left: 0;
}

.task-list-title {
  height: 25px;
  line-height: 35px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 10px;
  color: @text-color;
}
.task-list-container {
  flex-grow: 1;
  overflow-y: auto;
}
.task-card,.task-card-placeholder {
  display: block;
  height: 64px;
  border-radius: 5px;
  padding: 4px;
  margin-top: 10px;
}
.task-card-placeholder {
  background: @grey-7;
}
.task-card {
  cursor: pointer;
  color: @text-color;
  background: white;
}
.task-card.dragging {
  background: @grey-7;
}
.task-card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-card-time {
  background: @green-5;
  color: @text-color-dark;
  padding: 2px 5px;
  border-radius: 5px;
}
.task-card-member {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: @cyan-5;
  text-align: center;
  color:@text-color-dark;
  margin-left: 2px;
}